<div th:fragment="content" class="container-fluid px-4">
    <div class="card mb-4">
        <div class="card-header d-flex">
            <!-- Barra de búsqueda a la izquierda -->
            <div class="me-auto">
                <form class="d-none d-md-inline-block form-inline my-2 my-md-0"
                      th:hx-post="@{/coordinacion/voluntarios/buscar}"
                      hx-trigger="submit" hx-target="#Cuerpo" hx-swap="innerHTML">
                    <div class="input-group">
                        <input
                                class="form-control"
                                type="text"
                                name="query"
                                placeholder="Search for..."
                                aria-label="Search for..."
                                aria-describedby="btnSearch"/>
                        <button
                                class="btn btn-primary"
                                id="btnSearch"
                                type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>

            <!-- Enlaces a la derecha -->
            <div class="d-flex text-end align-items-center">
                <a th:if="${bool_NuevoVoluntario}"
                   class="nav-link me-3"
                   th:hx-post="@{/cabecera(url='coordinacion/voluntarios/nuevo', titulo='Nuevo Voluntario')}"
                   hx-target="#Main" hx-swap="innerHTML">
                    <i class="fas fa-add me-1"></i>
                    Nuevo voluntario
                </a>
                <a class="nav-link me-3" hidden="hidden">
                    <i class="fas fa-print me-1"></i>
                    Imprimir
                </a>
            </div>
        </div>
        <div class="card-body">
            <table id="tablaVoluntarios" class="table table-striped table-bordered">
                <colgroup>
                    <col style="width: 10%;"> <!-- Primera columna -->
                    <col style="width: 35%;"> <!-- Segunda columna -->
                    <col style="width: 20%;"> <!-- Tercera columna -->
                    <col style="width: 15%;"> <!-- Cuarta  columna -->
                    <col style="width: 10%;"> <!-- Columna de acciones -->
                    <col style="width: 10%;"> <!-- Columna de acciones -->
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">Id Voluntario</th>
                    <th scope="col">Nombre y apellidos</th>
                    <th scope="col">Roles</th>
                    <th scope="col">Habilitado</th>
                    <th><em>Editar</em></th>
                    <th><em>(In)Hab.</em></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="voluntario : ${voluntarios}">
                    <td th:text="${voluntario.id}">Id Voluntario</td>
                    <td th:text="${voluntario.nombre} + ' ' + ${voluntario.apellidos}">Nombre y apellidos</td>
                    <td>
                        <div th:each="rol : ${voluntario.roles}">
                            <span th:text="${rol.nombre}"></span>
                        </div>
                    </td>
                    <td th:text="${voluntario.habilitado ? 'Sí' : 'No'}">Habilitado</td>
                    <td th:if="${bool_EditarVoluntario}"
                        class="text-end"
                        th:hx-post="@{/cabecera(url='coordinacion/voluntarios/editar', titulo='Editar Voluntario', id=${voluntario.id})}"
                        hx-target="#Main" hx-swap="innerHTML">
                        <a class="nav-link me-3 boton_permitido">
                            <i class="fas fa-pencil me-1"></i>
                        </a>
                    </td>
                    <td th:if="${!bool_EditarVoluntario}"
                        class="text-end">
                        <a class="nav-link me-3 boton_prohibido">
                            <i class="fas fa-pencil me-1"></i>
                        </a>
                    </td>
                    <td th:if="${bool_InHabilitarVoluntario}"
                        class="text-end">
                        <a class="nav-link me-3 boton_permitido" data-bs-toggle="modal"
                           th:data-bs-target="'#modalIn_HabilitarVoluntario' + ${voluntario.id}">
                            <!-- Icono de check si habilitado es true -->
                            <i class="fas fa-check me-1" th:if="${voluntario.habilitado}"></i>
                            <!-- Icono de cruz si habilitado es false -->
                            <i class="fas fa-times me-1" th:if="${!voluntario.habilitado}"></i>
                        </a>

                        <!-- Modal -->
                        <div th:hx-post="@{/modals/voluntario/in_habilitar(id=${voluntario.id},
                        nombre=${voluntario.nombre} + ' ' + ${voluntario.apellidos}, accion=${voluntario.habilitado ? 'inhabilitar' : 'habilitar'})}"
                             hx-trigger="load" hx-target="this" hx-swap="outerHTML"></div>
                    </td>
                    <td th:if="${!bool_InHabilitarVoluntario}"
                        class="text-end">
                        <a class="nav-link me-3 boton_prohibido">
                            <!-- Icono de check si habilitado es true -->
                            <i class="fas fa-check me-1" th:if="${voluntario.habilitado}"></i>
                            <!-- Icono de cruz si habilitado es false -->
                            <i class="fas fa-times me-1" th:if="${!voluntario.habilitado}"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th scope="col">Id Voluntario</th>
                    <th scope="col">Nombre y apellidos</th>
                    <th scope="col">Roles</th>
                    <th scope="col">Habilitado</th>
                    <th><em>Editar</em></th>
                    <th><em>(In)Hab.</em></th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
