<div th:fragment="content" class="sb-nav-fixed">
    <div th:hx-post="@{/cabecera(url='paneldecontrol', titulo='Panel de Control')}"
         hx-trigger="load" hx-target="#Main" hx-swap="innerHTML"></div>
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3">Organización</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0"
                id="sidebarToggle">
            <i class="fas fa-bars"></i>
        </button>
        <!-- Navbar options -->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item">
                <a class="nav-link"
                   th:hx-post="@{/cabecera(url='paneldecontrol', titulo='Panel de Control')}"
                   hx-target="#Main" hx-swap="innerHTML"><i class="fas fa-home"></i></a>
            </li>
            <li th:if="${coordinacion}" class="nav-item">
                <a class="nav-link" hx-get="/dashboard?url=content1" hx-target="#dashboard"
                   hx-swap="innerHTML">Coordinación</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   th:hx-post="@{/cabecera(url='actividades', titulo='Actividades')}"
                   hx-target="#Main" hx-swap="innerHTML">Actividades</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   th:hx-post="@{/cabecera(url='formaciones', titulo='Formaciones')}"
                   hx-target="#Main" hx-swap="innerHTML">Formaciones</a>
            </li>
        </ul>

        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <!--            <div class="input-group">-->
            <!--                <input-->
            <!--                        class="form-control"-->
            <!--                        type="text"-->
            <!--                        placeholder="Search for..."-->
            <!--                        aria-label="Search for..."-->
            <!--                        aria-describedby="btnNavbarSearch"/>-->
            <!--                <button-->
            <!--                        class="btn btn-primary"-->
            <!--                        id="btnNavbarSearch"-->
            <!--                        type="button">-->
            <!--                    <i class="fas fa-search"></i>-->
            <!--                </button>-->
            <!--            </div>-->
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item">
                <a class="nav-link" th:text="${periodo}" data-bs-toggle="modal" data-bs-target="#modalCambiarPeriodo">Indefinido</a>
            </li>
            <li class="nav-item dropdown">
                <a
                        class="nav-link dropdown-toggle"
                        id="navbarDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                ><i class="fas fa-user fa-fw"></i
                ></a>
                <ul
                        class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="navbarDropdown">
                    <li><a th:text="${usuario}" class="dropdown-item disabled text-black text-center">Invitado</a>
                    </li>
                    <li>
                        <a class="dropdown-item">Cambiar contraseña</a>
                    </li>
                    <li>
                        <hr class="dropdown-divider"/>
                    </li>
                    <li><a class="dropdown-item">Salir</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <!-- Sidebar -->
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav
                    class="sb-sidenav accordion sb-sidenav-dark"
                    id="sidenavAccordion">
                <div class="sb-sidenav-footer">
                    <div class="small">Sesión iniciada como:</div>
                    <div th:text="${usuario}">Invitado</div>
                </div>
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <!--                        <div class="sb-sidenav-menu-heading"></div>-->
                        <a class="nav-link"
                           th:hx-post="@{/cabecera(url='paneldecontrol', titulo='Panel de Control')}"
                           hx-target="#Main" hx-swap="innerHTML">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-dashboard"></i>
                            </div>
                            Panel de control
                        </a>
                        <a
                                class="nav-link collapsed"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseLayouts"
                                aria-expanded="false"
                                aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-lock"></i>
                            </div>
                            Coordinación
                            <div class="sb-sidenav-collapse-arrow">
                                <i class="fas fa-angle-down"></i>
                            </div>
                        </a>
                        <a th:hx-post="@{/cabecera(url='actividades', titulo='Actividades')}"
                           hx-target="#Main" hx-swap="innerHTML"
                           class="nav-link collapsed"
                           data-bs-toggle="collapse"
                           data-bs-target="#collapsePages"
                           aria-expanded="false"
                           aria-controls="collapsePages">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-book-open"></i>
                            </div>
                            Actividades
                            <div class="sb-sidenav-collapse-arrow">
                                <i class="fas fa-angle-down"></i>
                            </div>
                        </a>
                        <a th:hx-post="@{/cabecera(url='formaciones', titulo='Formaciones')}"
                           hx-target="#Main" hx-swap="innerHTML"
                           class="nav-link collapsed"
                           data-bs-toggle="collapse"
                           data-bs-target="#collapsePages"
                           aria-expanded="false"
                           aria-controls="collapsePages">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-book"></i>
                            </div>
                            Formaciones
                            <div class="sb-sidenav-collapse-arrow">
                                <i class="fas fa-angle-down"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </nav>
        </div>

        <!-- Contenido -->
        <div id="layoutSidenav_content" style="background-color: #ecf0f5">
            <main>
                <!-- El contenido dinámico va aquí-->
                <!-- ROUTING -->
                <div id="Main">
                    <p>Contenido predeterminado del layout base.</p>
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div
                            class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">
                            Copyright &copy; Daniel Carrizo
                        </div>
                        <div>
                            <b>Version</b>
                            Eldest
                            <img src="" width="20" alt="Logo de la aplicación">
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!-- Modal -->
    <div th:hx-get="@{/modals/periodo/cambiar}" hx-trigger="load" hx-target="this" hx-swap="innerHTML"></div>




    <script>
        $(document).ready(function () {
            // Toggle la navegación lateral
            const $sidebarToggle = $('#sidebarToggle');
            if ($sidebarToggle.length) {
                // Descomenta abajo para persistir el cambio de estado del sidebar entre actualizaciones
                // if (localStorage.getItem('sb|sidebar-toggle') === 'true') {
                //     $('body').toggleClass('sb-sidenav-toggled');
                // }

                $sidebarToggle.on('click', function (event) {
                    event.preventDefault();
                    $('body').toggleClass('sb-sidenav-toggled');
                    localStorage.setItem('sb|sidebar-toggle', $('body').hasClass('sb-sidenav-toggled'));
                });
            }
        });

    </script>
</div>