<div th:fragment="modalCambiarPeriodo" class="modal fade" id="modalCambiarPeriodo" tabindex="-1"
     aria-labelledby="modalNuevaActividadLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCambiarPeriodoLabel">Cambiar periodo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-wrap justify-content-start">
                    <button class="btn bg-light col-auto mb-2 me-2 border border-dark"
                            th:each="periodo : ${periodos}" th:text="${periodo.nombre}"
                            th:hx-post="@{/inicio(periodo=${periodo.id})}"
                            hx-target="#Body" hx-swap="innerHTML"
                            data-bs-dismiss="modal"></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="modalIn_HabilitarPeriodo" class="modal fade" th:id="'modalIn_HabilitarPeriodo' + ${idPeriodo}" tabindex="-1"
     aria-labelledby="modalIn_HabilitarPeriodo" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalIn_HabilitarPeriodo">Confirmar eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Mensaje de advertencia -->
                <p th:text="'¿Estás seguro de que deseas ' + ${accion} + ' este periodo?'"></p>
                <p>"<strong><span th:text="${nombre}"></span></strong>"</p>
            </div>
            <div class="modal-footer">
                <!-- Botón para cancelar -->
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <!-- Botón para confirmar la eliminación -->
                <button type="button" class="btn btn-danger" id="confirmarEliminarBtn"
                        th:hx-post="@{/cabecera(url='coordinacion/periodos/in_habilitar', titulo='Periodos', id=${idPeriodo})}"
                        hx-target="#Main" hx-swap="innerHTML"
                        data-bs-dismiss="modal">Cambiar</button>
            </div>
        </div>
    </div>
</div>