<div th:fragment="modalCambiarPeriodo" class="modal fade" id="modalCambiarPeriodo" tabindex="-1"
     aria-labelledby="modalNuevaActividadLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCambiarPeriodoLabel">Cambiar periodo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-wrap justify-content-start">
                    <button class="btn bg-light col-auto mb-2 me-2 border border-dark"
                            th:each="periodo : ${periodos}" th:text="${periodo.nombre}"
                            th:hx-post="@{/inicio(periodo=${periodo.id})}"
                            hx-target="#Body" hx-swap="innerHTML"
                            data-bs-dismiss="modal"></button>
                </div>
            </div>
        </div>
    </div>
</div>