<div th:fragment="content" class="container-fluid px-4">
    <div class="card mb-4">
        <div class="card-body">
            <!-- Contenido -->
            <form id="formulario">
                <input type="hidden" id="id" name="id" th:value="${rol.id}">

                <!-- Fila 1 -->
                <div class="row mb-3">
                    <div class="col-md-12">
                        <label for="nombre" class="form-label fw-bold">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required
                               th:value="${rol.nombre}" disabled>
                    </div>
                </div>

                <!-- Fila 2 -->
                <div class="row mb-3">
                    <div class="col-md-12">
                        <label class="form-label fw-bold">Permisos</label>
                        <div class="form-check-group">
                            <!-- Iterar sobre permisos -->
                            <div class="form-check" th:each="permiso: ${permisos}">
                                <!-- Solo mostrar permisos si están seleccionados -->
                                <div th:if="${permiso.value}">
                                    <div th:each="subEntry : ${permiso.key}">
                                        <label class="form-check-label ms-2" th:for="'permiso ' + ${subEntry.key}">
                                            <span th:text="${subEntry.value}"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Botones -->
                <div class="d-flex justify-content-start gap-2">
                    <button id="atras" type="button" class="btn btn-danger"
                            th:hx-post="@{/cabecera(url='coordinacion/roles', titulo='Roles')}"
                            hx-target="#Main" hx-swap="innerHTML">
                        Atras
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
