<div th:fragment="content" class="container-fluid px-4">
    <div class="card mb-4">
        <div class="card-body">
            <!-- Contenido -->
            <form id="formulario"
                  th:hx-post="@{/coordinacion/periodos/crear(url='coordinacion/periodos', tit='Periodos')}"
                  hx-trigger="submit" hx-target="#Main" hx-swap="innerHTML">
                <!-- Fila 1 -->
                <div class="row mb-3">
                    <div class="col-md-12">
                        <label for="nombre" class="form-label fw-bold">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                    </div>
                </div>

                <!-- Fila 2 -->
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="fechaInicio" class="form-label fw-bold">Fecha inicio</label>
                        <input type="date" class="form-control" id="fechaInicio" name="fechaInicio" required>
                    </div>
                    <div class="col-md-6">
                        <label for="fechaFin" class="form-label fw-bold">Fecha fin</label>
                        <input type="date" class="form-control" id="fechaFin" name="fechaFin" required>
                    </div>
                </div>

                <!-- Botones -->
                <div class="d-flex justify-content-start gap-2">
                    <button id="cancelar" type="button" class="btn btn-danger"
                            th:hx-post="@{/cabecera(url='coordinacion/periodos', titulo='Periodos')}"
                            hx-target="#Main" hx-swap="innerHTML">
                        Cancelar
                    </button>
                    <button id="guardar" type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>



    <script>
        // Función para validar las fechas
        $(document).ready(function() {
            $('#formulario').submit(function(event) {
                // Obtener las fechas de los campos
                const fechaInicio = $('#fechaInicio').val();
                const fechaFin = $('#fechaFin').val();

                // Verificar si ambas fechas están presentes
                if (fechaInicio && fechaFin) {
                    // Convertir las fechas a objetos Date para compararlas
                    const inicio = new Date(fechaInicio);
                    const fin = new Date(fechaFin);

                    // Validar que la fecha de fin no sea anterior ni igual a la fecha de inicio
                    if (fin <= inicio) {
                        alert("La fecha de fin no puede ser anterior o igual a la fecha de inicio.");
                        event.preventDefault();  // Evitar el envío del formulario
                    }
                }
            });
        });
    </script>
</div>
